body {
  background-color: lightblue;
}

.dayBox {
  background-color: pink;
  margin: 10px;
  display: flex;
}

img {
  max-height: 50px;
  width: auto;
}

h4 {
  margin: 5px;
}

p {
  margin: 5px;
}

.boxT {
  font-size: 10pt;
}

.boxDate {
  max-width: 250px;
}
